$color4: #1a3365;
$color1: #ffbb00;
$color2: #fff;
$color3: #ff4343;

body {
  margin: 0;
  font-family: Fira-Code, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: $color4;
  padding: 1rem;
  color: $color1;

  a {
    color: $color1;
    text-decoration: none;
    font-weight: bold;
  }
}

main {
  padding: 2rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .product {
    margin: 1rem;
    border: 1px solid $color4;
    border-radius: 10px;

    img {
      width: 100%;
      max-width: 250px;
    }
    .product-info {
      padding: 0.3rem;
      color: $color4;

      button {
        padding: 0.5rem 2rem;
        border: 0;
        background-color: $color1;
        color: $color4;
        border-radius: 10px;
        transition: 0.3s ease all;
        &:hover {
          padding: 0.5rem 2.5rem;
          border: 0;
          background-color: $color1;
          color: $color4;
        }
      }
    }
  }
}
